<link rel="stylesheet" href="/css/scrolling_questions.css">

<form class="create-survey-form" action="/users/<%= @user.id %>/surveys/create" method="post">
  <input class="form-field user-email" id = 'title' name="survey[title]" type="text" placeholder="survey title" autofocus><br>
  <a class="btn btn-header btn-primary" href = # id = 'create_survey'>Start Creating Survey<a/>

  <% (1..4).each do |num| %>
  <div id="question<%= num %>">
  <div class = 'input_questions' id = 'question_<%= num %>'>
  <input class="form-field user-email" name="questions[question_<%= num %>][question]" type="text" placeholder = 'question_<%= num %>' autofocus ><br>
  </div>
    <% (1..4).each do |choice_num| %>
  <div class = 'input_choices' id = 'choice_<%= num %><%= choice_num %>'>
      <input class="form-field user-email" name="choice_<%= num %><%= choice_num %>" type="text" placeholder = "choice_<%= num %><%= choice_num %>"><br>
  </div>
    <% end %>
  <% end %>
</div>
  <a class="btn btn-header btn-primary" href = # id = 'new_question'>Add another Question<a/>
  <input class="btn btn-header btn-primary"  id = 'finish_survey' type="submit" value="Finish Survey">
</form>
