<form class="create-survey-form" action="/users/<%= @user.id %>/surveys/create" method="post">
  <input name="survey[title]" type="text" placeholder="survey title" autofocus><br>

  <% (1..4).each do |num| %>
  <input name="questions[question_<%= num %>][question]" type="text" placeholder = 'question_<%= num %>'><br>
    <% (1..4).each do |choice_num| %>
      <input name="choice_<%= num %><%= choice_num %>" type="text" placeholder = "choice_<%= num %><%= choice_num %>"><br>
    <% end %>
  <% end %>

  <input type="submit" value="submit">
</form>
