
<section>
  <h2>
    <%= @survey.title %>
  </h2>
  <ul>
    <% @questions.each do |question| %>
      <% test = @choices.select { |choice|
        choice.question_id = question.id} %>
        <li>
          <%= question.question %>
        </li>
        <ul>
        <% test.each do |choice| %>
            <li><%= choice.choice %></li>
        </ul>
        <% end %>
      </li>
    <% end %>
  </ul>
</section>

<h1>All surveys:</h1>
<section class="surveys">
  <% @surveys.each do |survey| %>
    <a class="survey-title" href="/surveys/<%= survey.id %>"><%= survey.title %></a>
  <% end %>
</section>
