<h1 class="survey-title"><%= @survey.title %></h1>
<ul class='questions'>
<%@survey.questions.each do |question| %>
    <li>
    <h2><%=question.question %></h2>
    <form action = '/surveys/<%=@survey.id%>' method = "post">
    <%Choice.all.select { |choice| choice.question_id == question.id }.each do |choice|%>
        <input type="radio" name="answer" value="<%=choice.id%>"><%=choice.choice%><br>
      <% end %>
      <input id = "submit_answer" type="submit" value="Next Question"/>
    </form>
  </li>
<% end %>
</ul>
